.import/
art/lance_orange_sketch.png.import
art/lance_purple_sketch.png.import
art/nugget/0.png.import
art/nugget/1.png.import
art/nugget/2.png.import
art/nugget/3.png.import
art/nugget/4.png.import
art/nugget/5.png.import
art/nugget/6.png.import
art/nugget/7.png.import
